@implements IDialogContentComponent
@inject IMessageService MessageService

@if (MessageService.Count("MESSAGE_CENTER") > 0)
{
    <div style="text-align:end">
        <a style="padding-bottom:5px;" role="button" onclick="@(() => DismissAllMessages())"><u>Dismiss All</u></a>
    </div>
    <FluentMessageBarProvider Section="MESSAGE_CENTER" MaxMessageCount="7" NewestOnTop="true" Type="MessageType.Notification"></FluentMessageBarProvider>
}
else
{
    <a>No notifications.</a>
}
@code {

    void DismissAllMessages()
    {
        MessageService.Clear("MESSAGE_CENTER");
    }
}