@page "/"

<PageTitle>Home</PageTitle>
<FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Style="height:100%">

        <FluentCard Style="padding-top:10px;max-height:50%">
            <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
                <FluentLabel Typo="Typography.HeroTitle">Justin Ridings</FluentLabel>
                <div style="padding-right:10px">
                    <a href="@githubProfile">
                        <img role="button" src="@githubProfilePic" class="face-large" href="@githubProfile" title="@githubProfile" />
                    </a>
                </div>
                <FluentLabel Typo="Typography.Body">
                    View my <a href="https://github.com/JustinRidings">Github</a> Contributions
                </FluentLabel>
            </FluentStack>
        </FluentCard>

    <FluentSpacer />
</FluentStack>

@code
{
    readonly string githubProfile = @"http://github.com/JustinRidings";
    readonly string githubProfilePic = @"https://avatars.githubusercontent.com/u/49916830";
}
