@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

@* @if (forecasts == null)
{
    <p><em>Loading...</em></p>
} *@
else
{
    <FluentLabel>There's nothing here...yet...</FluentLabel>
}

@code {
    //private WeatherForecast[]? forecasts;

    // protected override async Task OnInitializedAsync()
    // {
    //     //forecasts = await FetchWeatherAsync();
    // }

    // private async Task<WeatherForecast[]> FetchWeatherAsync()
    // {
    //     // Replace 'YourAPIKey' with your actual API key and 'YourCityID' with your city ID
    // }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    // Define a model that matches the structure of the OpenWeather API response
    public class OpenWeatherResponse
    {
        public string[] Main { get; set; } = default!;
        public string[] Weather { get; set; } = default!;
    }
}
